/* global css */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: black;
  max-width: 1920px;
}

a:hover {
  cursor: pointer !important;
}

html {
  text-align: center;
  scroll-behavior: smooth;
  scroll-margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

div {
  padding: 0%;
}

/* css for preloder */
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 8, 8, 0.727);
  z-index: 9999;
  /* makes sure it stays on top */
}

.preloader img {
  background-size: contain;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#status-2 {

  position: fixed;
  left: 50%;
  top: 60%;
  margin: -100px 0 0 -100px;
}

#status {
  height: 70px;
  width: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
}

/* css for header-section */
header {
  height: 75px;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: smoothScroll 1s forwards;
  background: #000;
  z-index: 999;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
}

.header {
  height: 73px;
  justify-content: center;
}

.navbar-toggler span {
  display: block;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

nav.navbar.navbar-expand-lg.bg-light {
  max-width: 1042px;
  margin: 0 auto;
  height: 70px;
}

.navbar-nav a {
  display: flex !important;
  justify-content: center !important;
  line-height: 41px;
  font-size: 14px;
  line-height: 41px;
  color: #777777;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin: 12px 12px;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #1d8014;
}

/* css for slider-section (coreusel) for home page */

.slide-img img {
  object-fit: cover;
  opacity: 0.4;
}

.carousel-inner {
  min-height: auto;
  text-align: center;
  object-fit: cover;
}

.carousel-inner p {
  font-size: 24px !important;
  font-weight: 400;
}

/* css for banner-section of other pages */
.banner-section {
  position: relative;
  text-align: center;
  color: white;
  height: 400px;
}

img.banner-img {
  filter: brightness(0.4);
  height: 50vh;
}

.centered {
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.banner-img {
  width: 100%;
  height: 400px;
}

.banner-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-line {
  color: #ffffff;
}

h1 {
  letter-spacing: -3px;
  background: transparent;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.carousel-inner h1 {
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
}

.carousel-caption h2 {
  font-weight: bold;
  font-size: 1.2em !important;
  /* small size since this is the default in Bootstrap */
  text-align: center;
}

.carousel-caption p {
  font-size: 1em;
  /* small size since this is the default in Bootstrap */
  text-align: center;
}

h1.mt-5.titlename.text-white {
  max-width: 600px px;
  margin: 0 auto;
}

.w-25.bg-image {
  width: 46% !important;
}

/*css for service-section */

/* section.service.container {} */

.service-items {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.service-items div {
  padding: 10px;
}

section.service.container {
  padding: 99px 0 129px;
}

.service-items:hover h3 {
  color: #7cc576;
}

/* mid section */
.mid-section {
  background-position: center;
  background-size: cover;
  height: 100%;
}

.mid-right-content {
  margin: 0 auto;
}

.mid-object {
  position: relative;
  left: 370px;
  transition: transform 0.7s ease-in-out;
  animation-name: rotate;
  animation-duration: 55s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.mid-right-content h2 {
  font-size: 34px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  max-width: 80%;
}

.bg-image {
  z-index: 1;
  background-position: -24;
  background-repeat: no-repeat;
  background-size: cover;
  height: 615px;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mid-right-content.d-flex.flex-wrap.align-content-center.justify-content-start.w-50 {
  width: 84% !important;
}

.project-img-container.col-md-6.text-end.px-0.border-1.border-danger {
  margin: auto 0;
}

.mid-right.w-75.text-white.d-flex.flex-column.justify-content-center.pt-5.bg-image {
  background-position-x: -1px;
}

i.bi.bi-check-circle {
  font-size: 32px;
}

.btn {
  width: 168px;
  height: 60px;
  border-radius: 30px;
  background-color: #7cc576;
  text-transform: uppercase;
}

button.btn.btn-blog.btn-primary {
  border-radius: 0px;
  width: 169px;
  height: 40px;
  background-color: #7cc576;
}

.active {
  color: #4dbc43 !important;
}

.btn:hover {
  background: #4dbc43 !important;
  box-shadow: 1px 1px 13px 3px rgb(50 231 65 / 75%);
}

.navbar-light .navbar-nav .active>.nav-link {
  color: red !important;
}

.mid-text {
  text-align: left;
}

.bi-check-circle {
  width: 992px;
  height: 616px;
}

/* css for project-section */

.project-title {
  text-align: center;
}

.mid-text p {
  margin-bottom: 0 !important;
}

.project-icon.mt-3.mb-3 {
  margin-bottom: 3rem !important;
}

.project-info.row {
  --bs-gutter-x: 0% !important;
}

sh .project-name {
  text-align: left;
}

.project-details {
  box-sizing: border-box;
  padding-left: 420px;
}

/*css for culteure-section */
.culture-list {
  text-align: center;
}

.culture {
  background-color: #f9f9f9;
  padding: 42px 0 42px;
}

.carousel-inner h1 {
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 700 !important;
  font-family: "Montserrat";
  text-align: center;
  margin: 0 auto;
  max-width: 660px;
}

.culture-hr-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.culture-hr-line::before {
  display: inline-block1 !important;
  content: "" !important;
  border-top: 2px solid rgb(154, 151, 151) !important;
  width: 170px !important;
  margin: 0 1rem !important;
  position: absolute;
  right: 277px;
}

.culture-content {
  max-width: 335px;
}

.culture-hr-line::after {
  display: inline-block1 !important;
  content: "" !important;
  border-top: 2px solid rgb(154, 151, 151) !important;
  width: 170px !important;
  margin: 0 1rem !important;
  position: absolute;
  left: 277px;
}

i {
  padding: 6px;
}

.culture-list p {
  line-height: initial;
  height: 70px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-weight: 400;
  text-align: center;
}

/* csss for footer-section */
.footer .container p {
  max-width: 290px;
}

.social-icon.d-inline i:hover {
  /* position: relative;
  bottom: 5px; */
  box-shadow: rgb(0 0 0) 1px -1px 20px 1px inset, rgb(0 0 0) 1px -1px 20px 2px;
}

.tweets:hover {
  color: #1da1f2;
}

.footer-content p {
  font-size: 18px;
}

.footer-content {
  color: #ffffff !important;
  justify-content: space-around !important;
  padding: 11px 0 37px;
  font-weight: 400;
}

.footer-content h4:hover {
  text-decoration: underline;
  padding-left: 5px;
  text-underline-offset: 4px;
}

.footer-content p:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

h4 {
  margin-left: 10px;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}

#footer {
  max-width: 600px;
  margin: 0 auto;
}

.section-title {
  font-size: 40px;
  letter-spacing: -2px;
  color: #222222;
  font-weight: 700;
  font-family: "Montserrat";
}

.section-sub-title {
  font-size: 20px;
  letter-spacing: 0px;
  color: #777777;
  font-weight: 600;
  text-align: center;
}

.service-icon {
  margin-top: 38px;
}

.section-sub-inside-title {
  font-size: 18px;
  letter-spacing: 0px;
  color: #000000;

  font-weight: 700;
  font-family: "Montserrat";
}

.section-sub-inside-para {
  height: 45px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}

.opacity-50 {
  opacity: 0.35 !important;
}

.bi-pin::before {
  content: " \F663" !important;
}

.social-icon i {
  margin: 0px 6px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

/* css fpr blog page */
section.blog.container {
  padding: 22px 0 22px;
}

.container.blog-item.mt-4.mb-4.row.gx-4.gy-5.justify-content-center {
  margin: 0;
  padding: 0;
}

.card-img-overlay.card-text.card-img-top {
  position: absolute;
  padding: 0px;
  max-width: 89%;
  top: 180px;
  left: 21px;
  text-align: left;
  overflow: hidden;
  line-height: 1;
}

.card-lable {
  background-color: #63c25b;
  position: absolute;
  left: 20px;
  text-align: left;
}

.card {
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-cap-color: ;
  --bs-card-img-overlay-padding: 1rem;
  position: relative;
  display: flex;
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  overflow: hidden;
}

span.blog-card-date {
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 0px 8px !important;
}

.card-title {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

img.card-img {
  overflow: hidden;
  border-radius: 0px;
}

.card-img:hover {
  opacity: 70%;
  box-shadow: 0.1;
}

section.contect.container {
  padding: 28px 15px 39px;
  max-width: 1160px;
}

.form-group {
  margin-top: 30px;
  margin-bottom: 6px;
}

.form-control {
  line-height: 2.3rem !important;
}

.social-icon.d-inline {
  padding: 10px 0 10px;
}

i:hover {
  cursor: pointer;
}

/* css for hamburger menu */
.navbar-toggler>.close {
  display: inline !important;
  font-weight: bolder;
}

.navbar-toggler:not(.collapsed)>.navbar-toggler-icon,
.navbar-toggler.collapsed>.close {
  display: none !important;
}

.icon-img:hover {
  opacity: 60%;
}

/* Media queries  for different */

@media (max-width: 1600px) {
  .project-details {
    padding-left: 250px;
  }
}

@media (max-width: 1200px) {

  .culture-hr-line::after,
  .culture-hr-line::before {
    display: none;
  }

  .project-details {
    padding-left: 150px;
  }
}

@media (max-width: 992px) {



  #preloader {
    display: none;
  }

  span.navbar-toggler-icon {
    color: #7cc576;
    background: #7cc576;
  }

  span.my-1.mx-2.close {
    color: #7cc576;
  }

  .navbar-toggler {
    border: 1px solid #7cc576;
  }

  /*
  .sticky {
    background: #dbf3e3 !important;
  } */

  .service-items img.icon-img {
    height: 42px;
    width: 39px;
  }

  .culture-list img.icon-img {
    height: 76x;
    width: 76px;
  }

  .project-icon img.icon-img {
    height: 76x;
    width: 63px;
  }

  .carousel-inner h1 {
    font-size: 42px;
    max-width: 80%;
    line-height: 38px;
    letter-spacing: 0px;
  }

  .centered {
    font-size: 46px;
    letter-spacing: -1px;
  }

  .culture-hr-line::before,
  .culture-hr-line::after {
    display: none;
  }

  .carousel-inner p {
    font-size: 24px !important;
    font-weight: 400;
    padding-top: 13px;
  }

  .section-title {
    font-size: 31px;
  }

  .section-sub-title {
    font-size: 18px;
  }

  .section-sub-inside-title {
    font-size: 22px;
  }

  .mid-right-content h2 {
    font-size: 35px;
  }

  .mid-left {
    display: none;
  }

  .mid-left.w-25.bg-image.my-auto.mx-auto.d-flex.justify-content-center.align-items-center {
    display: none !important;
  }

  .w-75 {
    width: 100% !important;
  }

  .w-25.bg-image {
    display: none;
  }

  .project-details {
    box-sizing: border-box;
    padding-left: 100px;
  }

  .footer-content {
    justify-content: left !important;
  }

  .culture-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .carousel-inner h1 {
    font-size: 34px;
    max-width: 80%;
    line-height: 33px;
    letter-spacing: -1px;
  }

  .centered {
    font-size: 36px;
    letter-spacing: -1px;
  }

  .culture-hr-line::before,
  .culture-hr-line::after {
    display: none;
  }

  .carousel-inner p {
    font-size: 18px !important;
    font-weight: 400;
    padding-top: 13px;
  }

  .section-title {
    font-size: 25px;
  }

  .section-sub-title {
    font-size: 16px;
  }

  .section-sub-inside-title {
    font-size: 20px;
  }

  .mid-right-content h2 {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .carousel-inner h1 {
    font-size: 22px;
    max-width: 80%;
    line-height: 23px;
    letter-spacing: 0px;
  }

  .project-details {
    box-sizing: border-box;
    padding-left: 29px;
  }

  .centered {
    font-size: 30px;
    letter-spacing: -1px;
  }

  .culture-hr-line::before,
  .culture-hr-line::after {
    display: none;
  }

  .carousel-inner p {
    font-size: 16px !important;
    font-weight: 400;
    padding-top: 13px;
  }

  .section-title,
  h2 {
    font-size: 20px;
  }

  .section-sub-title {
    font-size: 16px;
  }

  .section-sub-inside-title {
    font-size: 20px;
  }

  .mid-right-content h2 {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .navbar-nav.text-uppercase {
    background: #eaffeed1;
    z-index: 1;
    position: relative;
    width: 100%;
    border: 1px solid #00805b52;
  }

  .navbar-nav a {
    font-size: 24px;
  }
}