@media only screen and (max-width: 800px) {
  header {
    display: block;
    text-align: center;
    height: auto;
  }
  .logo {
    display: block;
    text-align: center;
  }

  .container {
    padding: 0;
  }

  .menu {
    display: block;
    position: initial;
  }

  .button {
    line-height: 27px;
    border: none;
    color: white;
    padding: 6px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 700;
  }

  .menu ul {
    display: block;
    margin: 0;
    padding: 0;
    display: block;
  }
  .banner {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .banner-img {
    width: auto;
  }
  .banner-heading {
    text-align: center;
    width: auto;
  }

  .h1,
  p h1 {
    text-align: center;
    display: inline;
    margin: 0 auto;
    display: inline;
    font-size: 25px;
    padding: 0%;
    margin: 0 auto;
  }
  p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .h4 {
    font-size: 22px;
  }
  .lable-line {
    padding: 0;
  }
  ul {
    display: block;
  }

  .testimonial-heading .h4 {
    text-align: center;

    font-size: 25px;

    color: #242f51;
  }

  .testimonial-info ul li {
    display: flex;
  }

  .feature-child {
    text-align: center;
    display: block;
  }

  .feature-img {
    display: block;
    max-width: 100%;
  }

  .faq .heading h3 {
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 27px;
    text-align: center;
  }

  .h4 {
    display: block;
  }

  .why-us .why-us-list li {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .feature-info {
    width: auto;
    margin: 0 auto;
  }

  ul.star {
    display: flex;
  }

  .footer-navbar {
    display: block;
  }

  .download {
    display: block;
  }

  .download-img {
    margin-bottom: 32px;
  }
}
