@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Quicksand", sans-serif !important;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom CSS */
body a,
img,
li {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.circle {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #6382d1;
  background: -webkit-conic-gradient(#6382d1 0%, #6382d1 0%, transparent 0%);
  background: conic-gradient(#6382d1 0%, #6382d1 0%, transparent 0%);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.circle-inner {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  /* White inner circle */
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-up {
  font-size: 30px;
  color: #6382d1
    /* Arrow color similar to border */
}

/* css for header */

.header-top {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  background-color: #3d4750;
  color: white;
  height: 40px;
}

.top-header-links {
  display: flex;
  justify-content: space-around;
}

li.top-links {
  list-style: none;
  padding: 10px;
}

a.dropbtn {
  text-decoration: none;
}

/* css for top header dropdown */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.Topdropdown {
  position: relative;
  display: inline-block;
  top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  bottom: -114px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content.cr {
  bottom: -76px;
}

.dropdown-content a:hover {
  color: #6380d4;
}

.Topdropdown:hover .dropdown-content {
  display: block;
}

/* css for header-mid */

.mid-header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 20px 0px;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar-mid {
  display: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #00000045;
}

.label {
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  background: #f5f5f5;
  color: gray;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#vegetables-drp {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

/* search-dropdown css */
.search-drp {
  position: relative;
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  padding: 0 3.5rem 0 1.5rem;
  ;
  letter-spacing: +1.3px;


}

a.dropdown-item:active {
  background: white;

}

a.dropdown-item:hover {
  color: #6380d4;
}

/*
.drp-items{position: absolute;
height: 200px;
width: 120px;
background-color: #6380d4;}

.drp-items {
  visibility: hidden;
  position: absolute;
  height: fit-content;
  padding: 10px;
  width: 120px;
  background-color: #f0f3fb;
  border-radius: 15px;;
   letter-spacing: +1.3px;
  top: 40px;
}

  .drp-items {display:block;} */

button.drp-btn.btn.btn-secondary.dropdown-toggle {
  background: #f5f5f5;
  color: gray;
  border-right: 1px solid rgb(255 255 255 / 0%);
  height: 1.8rem;
  outline: none;
  border: none;
  padding: 3px 23px 0px 8px;
  font-size: 1rem;
}

/* css for mid header icons */

.btn-box {
  display: flex;
  padding: 12px;
}

.btn-tag {
  display: flex;
  flex-direction: column;
}

.mid-header-btns {
  display: flex;
}

/* css for bottom header */

a.nav-link {
  font-weight: 500;
}

img.btn-icone {
  margin-right: 6px;
}



/* css for bottom header */


a.menu-icon {
  border: 1px solid rgb(160, 159, 159);
  border-radius: 10px;
}

.menu-desk {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}



li.nav-item {
  margin-left: 30px;
  padding: 5px;
}

a.nav-link::after {
  content: '';
  height: 6px;
  width: 6px;
  top: -1px;
  position: relative;
  margin-left: 5px;
  display: inline-block;
  border: 1px solid rgb(160, 159, 159);
  border-radius: 50%;
}

a.nav-link.home::after {
  content: none;
}

a.nav-link.offer::after {
  content: none;
}


.bottom-header {
  background-color: #fff;
  padding: 5px 0;


}


/* css for drop down botoom header */

ul.menu-desk-bar {
  display: flex;
  margin-bottom: 0px;
}

ul.menu {
  position: absolute;
  bottom: 142px;
  background: #f2f2f2;
  border: 1px solid #1212121c;
  padding: 11px;
  border-radius: 11px;
  display: none;
}

.dropdown.cat-menubar {

  position: relative;
  display: flex;
}

.dropdown-column {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown-column ul li a {
  text-decoration: none;
}

.dropdown-column h4 {
  font-size: 16px;
}

li.nav-item :hover {
  color: #6380d4;
}

a.nav-link.Categories-drop:hover.menu {
  display: block;
  background-color: red;
}


/* css for hero slider start  */


.slider-section {
  background-color: #f8f8fb;
}

.slider-container {
  position: relative;
  height: 700px;
  overflow: hidden;
}

.slider-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  opacity: 0;
  /* Start hidden */
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease, transform 2s ease;
  transform: translateY(100%);
  /* Start off-screen (below) */
}

.slider-item.active {
  opacity: 1;
  transform: translateY(0);
  /* Slide up to position */
}

.slider-content {
  max-width: 50%;
  padding-right: 20px;
}

.slider-content p {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.slider-content h2 {
  font-size: 50px;
  font-family: "quicksand";
  font-weight: 700;
  color: #333;
  margin: 10px 0;
}

.slider-content h2 span {
  color: #7a5cf5;
  /* Purple color */
}

.slider-content a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  font-weight: 400;
  color: #777;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #3d4750;
}

.slider-content a:hover {
  background-color: #7a5cf5;
  border: 0;
  color: white;
}

.slider-content p {
  margin-bottom: 20px;
  color: #777;
}

.slider-image {
  max-width: 50%;
  position: relative;
}

.slider-image img {
  width: 100%;
  border-radius: 15px;
  opacity: 0;
  /* Start hidden */
  transition: opacity 1s ease;
  /* Fade animation for image */
}

.slider-item.active .slider-image img {
  opacity: 1;
}

/* Custom Navigation Buttons */
.custom-nav {
  position: absolute;
  bottom: 22px;
  left: 26px;
  display: flex;
  gap: 5px;
}

.custom-nav button {
  width: 15px;
  height: 15px;
  background-color: #706b6b;
  border: none;
  cursor: pointer;
  transform: skew(-20deg);
  transition: background-color 0.3s;
}

.custom-nav button.active {
  background-color: #7a5cf5;
  /* Purple color when active */
  width: 25px;
}

/* css for hero slider end*/


/* css for shop banner section */

.shop-banner-box {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.col-6.shop-banner-1,
.shop-banner-2 {
  height: 333px;
  display: flex;
  width: 611px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.shop-banner-1 {
  background-color: #fbf2e5;
}

.shop-banner-2 {
  background-color: #ffe8ee;
}

.col-6.shop-banner-1::before {
  transition: all 0.3s ease-in-out;
  content: "";
  width: 400px;
  background-color: #f9d9b7;
  height: 600px;
  position: absolute;
  left: -200px;
  top: -200px;
  bottom: 0;
  rotate: 40deg;
  overflow: hidden;
  z-index: 0;
}

.col-6.shop-banner-1::after {
  transition: all 0.3s ease-in-out;
  content: "";
  width: 150px;
  height: 300px;
  position: absolute;
  right: -70px;
  bottom: -100px;
  background-color: #f9d9b7;
  overflow: hidden;
  rotate: 40deg;
  z-index: 0;
}

.col-6.shop-banner-2::before {
  transition: all 0.3s ease-in-out;
  content: "";
  width: 400px;
  background-color: #ffc6ce;
  height: 600px;
  position: absolute;
  left: -200px;
  top: -200px;
  bottom: 0;
  rotate: 40deg;
  overflow: hidden;
  z-index: 0;
}

.col-6.shop-banner-2::after {
  transition: all 0.3s ease-in-out;
  content: "";
  width: 150px;
  height: 300px;
  position: absolute;
  right: -70px;
  bottom: -100px;
  background-color: #ffc6ce;
  overflow: hidden;
  rotate: 40deg;
  z-index: 0;
}

.col-6.shop-banner-2:hover:after {
  right: -60px;
  bottom: -90px;
}

.col-6.shop-banner-2:hover::before {
  left: -160px;
  top: -195px;
}

.col-6.shop-banner-1:hover:after {
  right: -60px;
  bottom: -90px;
}

.col-6.shop-banner-1:hover::before {
  left: -160px;
  top: -195px;
}

.shop-banner-img img {
  width: 280px;
  height: 280px;
}

.col-6.shop-banner-img {
  z-index: 1;
}

.shop-banner-details {
  max-width: 250px;
  padding: 0 12px;

}

.shop-banner-details h5 {
  margin-bottom: 15px;
  font-size: 31px;
  font-weight: bold;
  color: #3d4750;
  font-family: "Quicksand", sans-serif;
}

.shop-banner-details p {
  margin-bottom: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #686e7d;
  font-weight: 300;
  letter-spacing: 0.03rem;
  font-size: 16px;
  color: #686e7d;
}

button.shop-btn {
  background: transparent;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #3d4750;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #3d4750;
}

button.shop-btn:hover {
  background: #6380d4;
  color: hsl(0, 0%, 100%);

}

/* css for deal section */

.deal-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;

}

h2.deal-heading {
  margin-bottom: 0;
  padding: 0;
  font-size: 25px;
  line-height: 38px;
  font-weight: 500;
  color: #3d4750;
  position: relative;
  display: inline;
  text-transform: capitalize;
  line-height: 1;
}


p.deal-tagline {
  margin-top: 12px;
  max-width: 400px;
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #686e7d;
  line-height: 18px;
}


.countdown-container {
  text-align: center;
}

#countdown {
  font-size: 15px;
  font-weight: 400;
  font-size: 16px;
  background: #efefef;
  border: 1px solid #00000029;
  padding: 4px;
  border-radius: 60px;
}

#countdown span {
  display: inline-block;
  min-width: 30px;
  padding: 0px 5px;
  font-weight: 700;
}

.prime-color {
  color: #6380d4
}

a {
  text-decoration: none !important;
}

.card-body {
  border-top: 1px solid #00000012;
}

.deal-card-title {
  display: flex;
  justify-content: space-between;
}

.deal-card-title a {
  text-decoration: none;
  font-family: "Poppins, sans-serif";
  font-size: 15px;
  color: #777;
}

.product-name a {
  width: 100%;
  white-space: nowrap;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #3d4750;
  font-weight: 500;
}

.deal-price {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.current-price {
  padding: 0 3px;
  font-size: 16px;
  color: #686e7d;
  font-weight: bold;
}

.old-price {
  padding: 0 3px;
  font-size: 14px;
  color: #686e7d;
  text-decoration: line-through;
}

.card-tag span {
  font-size: 14px;
  color: #777;
  position: absolute;
  left: 13px;
  top: 13px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.owl-carousel .item .img-back {
  display: none;
  width: 100%;
  height: auto;
}

.deal-iteams .owl-carousel .img-back img {
  display: none !important;
  width: 100%;
}

.card:hover .card-img .card-img-top {
  display: none;
}

.card:hover .img-back {
  display: block;
  width: 100%;
  height: 100%px;
  transform: scale(1.2);
  opacity: 100%;
}


.img-back {
  transition: 3 all ease-in-out !important;
  display: none;
  opacity: 20%;
}

ul.card-action {
  visibility: hidden;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card:hover .card-action {
  visibility: visible;
  transition: 1s all linear;
  animation: slideUp 1s ease-in-out forwards;
  transform: translateY(-28%);
  animation-delay: 0.2s;
}

@keyframes slideUp {
  to {

    transform: translateY(10);
  }
}

ul.card-action a {

  padding: 4px 6px;
  gap: 10px;
  margin: 2px;
  color: #6c757d;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;

}

ul.card-action a:hover {

  border-radius: 10px;
  background-color: #6380d4;
  color: #f6f6f7;

}

/* css for middle banner */
.middle-banner {
  background-image: url(../../assets/img/banner.jpg);
  min-height: 800px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-box {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.banner-inner-box {
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-width: 400px;
  padding: 30px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}


.banner-inner-box span {
  font-size: 20px;
  font-weight: 600;
  color: #6c7fd8;
}

.banner-inner-box h4 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #3d4750;
}

button.banner-btn {
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #3d4750;
  background: transparent;
  border-radius: 10px;

}

button.banner-btn:hover {
  background: #6380d4;
  color: #ffffff;
  border: 0px;

}

/* css for new arrival section start*/

.new-arrival{height:auto
  ;}
a {
  all: unset;
}

.tab-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tab-box .deal-card {margin: 14px;}

.tab {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tablinks a {
  text-decoration: none;
  padding-right: 20px;
}

.tab button:hover a {
  color: rgb(194, 157, 245);
}

.tab button.active {
  color: rgb(150, 150, 232);
}

.tab button:not(:last-child)::after {
  content: "    /    ";
}

.tabcontent {
  display: none;
  padding: 6px 12px;

}

/* css for new arrival section end*/



/* css for service section start*/
.service-section {
  padding: 40px 0pxs;
  margin-top: 80px;
  margin-bottom: 180px;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  max-width: 300px;
}

.service-box:hover {
  box-shadow: -1px 1px 20px 0px #abb9f5;
}

.service-content {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.service-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.service-icone {
  margin-bottom: 20px;
}


.service-content h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #3d4750;
}

/* css end for service section */







/* **************************** */
/* css for testimonials start */
.section-testimonials {
  height: 250px;
}

.bg-testimonials {
  position: relative;
}

.testimonials-img-1 {
  z-index: -1;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  left: 25px;
  border-radius: 20px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.testimonials-img-2 {
  z-index: -1;
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.testimonials-img-3 {
  z-index: -1;
  position: absolute;
  height: 60px;
  width: 60px;
  top: -50px;
  right: 500px;
  border-radius: 20px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.testimonials-img-4 {
  z-index: -1;
  position: absolute;
  height: 60px;
  width: 60px;
  top: 50px;
  right: 250px;
  border-radius: 20px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.testimonials-img-5 {
  z-index: -1;
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  right: 20px;
  border-radius: 20px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.testimonials-img-6 {
  z-index: -1;
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 30px;
  right: 100px;
  border-radius: 20px;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}


/* css for testimonials start */
.bb-testimonials-inner {
  max-width: 850px;

  margin: auto;
}

.bb-testimonials .bb-testimonials-inner .testimonials-image {
  position: relative;
}

.testimonials-image img {
  width: 100%;
  border-radius: 30px !important;
}


.testimonials-contact {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.testimonials-slider .item {
  transition: transform 0.5s ease-in-out;
}

.testimonials-contact h4 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}


.inner-banner h4 {
  text-shadow: 1px 1px #111a24, -1px 1px #111a24, 1px -1px #111a24, -1px -1px #111a24;
  color: #6573f5;
  opacity: 0.15;
}


.testimonials-contact span {
  font-size: 14px;
  color: #777;
}

.inner-banner {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  top: 0;
  z-index: -1;
  left: 150px;
  bottom: 0;
}

.bb-testimonials .inner-banner h4 {
  text-shadow: 1px 1px #111a24, -1px 1px #111a24, 1px -1px #111a24, -1px -1px #111a24;
  color: #fff;
  opacity: 0.15;
  font-size: 42px;
  font-weight: 700;
}

.inner-contact {
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 30px;
}

/* css for blog section */

.blog-slider .item {
  margin-right: 24px;
}

.blog-card {
  width: 261px;
  margin-right: 24px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;


}

.blog-section {
  height: 700px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.blog-content span {
  font-size: 13px;
  color: #686e7d;

}

.blog-slider .item {
  height: 300px;
}

.blog-content h4 {
  font-size: 16px;
  text-decoration: none;
  color: #2c2c2c;
}

.blog-img img {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;

}

.blog-card:hover .blog-img {
  -webkit-transform: scale(1.1) rotate(3deg);
  transform: scale(1.1) rotate(3deg);
  transition: all 1S ease;
}

.blog-content {
  transition: all 0.3s ease-in-out;
  margin: 5px;
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
}


/* css for blog section end */

/* css for insta slider start */

.owl-theme .owl-dots .owl-dot {
  display: none !important;
}

.insta-owl .item {
  margin-right: 15px;
}

.insta-box {
  margin-top: 200px;
  position: relative;
}

.insta-title {
  font-family: "quicksand";
  margin: auto;
  font-size: 28px;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.insta-slider {
  height: 300px !important;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 800px;
  cursor: pointer;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 24px;
}

.img-container img {
  width: 70px;
  height: 70%;
  object-fit: cover;
  border-radius: 30px;
}



.img-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 30px;
}

.overlay i {
  font-size: 50px;
  color: #fff;
  transform: scale(4) rotate(50deg);
  /* Initial state: scaled 3x and rotated by 25 degrees */
  transition: all 0.5s ease-in-out;
  /* Smooth transition */
}

.img-container:hover .overlay i {
  transform: scale(1) rotate(0deg);
  /* On hover: normal size and no rotation */
}

.owl-carousel .owl-item img {
  pointer-events: none;
}

/* css for insta slider end*/




/* css for brand directory section start */

section.brands {
  padding: 50px 0px;
  border: 1px solid #eee;
}

.brand-title {
  margin-bottom: 24px;
  text-align: center;
}

.brand-title h4 {
  font-size: 16px;
  font-weight: 400;
  color: #3d4750;
  letter-spacing: 0;
  text-transform: uppercase;
}

.brands-box {
  margin-bottom: 24px;
}

.brand-items {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}

.brand-items li {
  margin-bottom: 0;

  font-size: 15px;
  color: #686e7d;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.03rem;
}

.brand-items a {
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  font-weight: 400;
  color: #686e7d;
  text-transform: capitalize;
}

.brands-list ul.brand-items li a:hover {
  color: #6380d4;
}

.brand-items li span {
  margin-right: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #686e7d;
  text-transform: capitalize;
}

.brands-list {
  display: flex;
  flex-direction: column;
}


.brands-list ul.brand-items li:not(:last-child)::after {
  content: "|";
  padding: 0 10px;
  font-size: 14px;
  color: #686e7d;
}


/* css for footer start */
.footer {
  background-color: #f8f9fa;
  padding: 40px 0;
}

.footer .footer-logo img {
  max-width: 145px;
}

.footer h6 {
  font-weight: bold;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #3d4750;
  letter-spacing: 0;
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 15px;
  text-transform: capitalize;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.footer p {
  margin-top: 10PX;
  margin-bottom: 10PX
}

.footer a {
  color: #686e7d;
  text-decoration: none;
}

.footer a:hover {
  color: #6380d4;
  transition: .12s all linear;
}

.social-icons a {
  color: #f5f2f2;
  margin-right: 3px;
  font-size: 23px;
  padding: 4px 6px;
  border-radius: 5px;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-bottom {
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
  text-align: center;
  margin-top: 30px;
  display: flex;
  color: #6c757d;
  justify-content: space-between;
}


.footer-tagline {
  max-width: 280px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: #686e7d;
  display: inline-block;
  margin-top: 10PX;
  margin-bottom: 10PX;
  position: relative;
}

.app-link img {
  max-width: 140px;
  margin: 7px;
  border-radius: 5px;
}

.footer ul li {
  line-height: 20px;
  margin-bottom: 18px;
}

.social-icons a {
  background-color: #2c2c2c;
}

.social-icons a i {
  color: #ffffff
}

.social-icons a:hover {
  background-color: #6380d4;
}

footer i {
  color: #6380d4;
  background: transparent;
}

a.prime-color {
  color: #6380d4
}

/* css for footer end