* {
    background-color: transparent;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Metrophobic', sans-serif;
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    height: auto;
    min-width: 300px !important;
}

/* comman css for headings */

h1,
h2,
h3,
h4,
h5,
h6 {

    text-transform: uppercase !important;
}

/* Multiple time used classes  */

.special-color {
    color: #18ccd1;
}

.special-color-2 {
    color: #142a38;

}

/* Css for Header */
.header {
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* css for navbar */

.navbar {
    z-index: 1;
    height: 72px;
    background-color: #00000052;
    opacity: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #12415eb3;
    z-index: 1;
}


.logo {
    margin-left: 80px;
}

.nav {
    margin-right: 40px;
}

a.nav-links {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 22px;
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: bold;
}

label {
    margin: 0 40px 0 0;
    font-size: 36px;

    display: none;
    color: aqua;
}

a.nav-links:hover {
    border-bottom: 4px solid aqua;
}


#toggle {
    display: none;
    color: black;
}

/* css for hero-section */

.hero-section {
    padding-top: 200px;
    color: #ffffff;
    text-align: center;
    max-width: 810px;
    margin: 0 auto;
    padding-bottom: 296px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.hero-heading {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.btn {
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 0px;
    width: 245px;
    height: 60px;
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    color: #f8f8f8;
    border: 2px solid #18ccd1;

}

.btn:active {
    background-color: #f8f8f8;
    color: #18ccd1;
}

i.fa.fa-play {
    padding-left: 25px;
}

/* css for solution-section */

.solution-head-line {
    display: flex;
    align-content: center;
    height: 150px;
    background-color: #18ccd1;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.solution-list {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f4;
    cursor: pointer;
}

.solution-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #142a38;
    width: 449px;
    height: 549px;
    transition: 0.6s;

}

.solution-info:hover {
    background: white;


}

.solution-detail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 310px;
    transition: 0.9s;
}

.solution-info:hover .solution-detail {
    position: relative;
    bottom: 25px;
    color: #18ccd1;
}

.solution-more-info {
    display: none;
}

.solution-info:hover .solution-more-info {
    display: contents;
}

svg {
    color: grey !important;
}


.solution-icon {
    height: 50px;
    width: 50px;
}


.solution-info:hover svg {
    color: #18ccd1 !important;
}

/* feature-section */

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    background-size: cover;
    background-position: center;
}

.feature-headline {

    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-top: 80px;

}

.feature-sub-headline {
    max-width: 780px;
    color: #95a5a6 !important;
}

.feature-info {

    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    bottom: 100px;
}

ul.feature-bullet-point-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-start;
    direction: rtl;
}

ul.feature-bullet-point-left li:last-child {
    list-style-type: none !important;
    margin-right: 12px;
}

.feature-bullet-point-left li,
.feature-bullet-point-right li {

    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;
}

::marker {
    color: #18ccd1;
    font-size: 30px;
}

.feature-rocket {
    padding: 0px 70px;
}

ul .feature-bullet-point-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    direction: ltr;
    align-items: flex-start;
}

ul.feature-bullet-point-right li:last-child {
    list-style-type: none !important;
    margin-right: 12px;
}

/* css for butons in feature section */

.rocket-btn {
    border: 2px solid #18ccd1 !important;
}

.rocket-btn:hover {
    border: 2px solid white !important;
    background-color: #f0f4f4;
    color: #142a38
}

.rocket-btn:active {
    color: #18ccd1;
}


/* css for business solution section */


.business-section {
    text-align: center;
    height: 1000px;
}

.busines-headline {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-top: 35px;
}

.business-package-info {
    margin: auto 50px;
}

.business-sub-headline {
    max-width: 1054px;
    color: #95a5a6 !important;

}

.animation-object {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    margin: auto 0;
}

.animation-img {
    transition: transform .7s ease-in-out;
    animation-name: rotate;
    animation-duration: 55s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* css for  animation rotate */

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animation-img:hover {
    transform: rotate(360deg);
}


.business-package {
    display: flex;
}

.business-info {
    color: #95a5a6;
    max-width: 340px;

}

.business-package {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* css for client section */

.client-section {
    background-color: #f0f4f4;
    height: 356px;
}

.client-heading {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-top: 35px;
}

.client-list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px
}

.client-logo {
    box-sizing: border-box;
    width: 181px;
    padding: 23px 4px;
    display: flex;
    justify-content: center;


}

.client-logo:hover {
    filter: drop-shadow(-12px 9px 21px #18ccd1);
    box-shadow: #18ccd1 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, #18ccd1 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/* css for learn section */
.learn-more {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.learn-btn {
    color: #142a38;
    border: 2px solid #18ccd1;
}

.learn-btn:hover {
    border: 2px solid #142a38;
    color: #18ccd1;
}

/* css for footer */

.footer {
    color: #f0f4f4;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* css for quick links in footer section */
.quick-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 266px;
    height: 165px;
    border-left: 2px solid white;
    border-right: 2px solid white;

}

a.quick-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: bold;
}

.quick-link:hover {
    border-bottom: 2px solid #18ccd1;
    position: relative;
    left: 5px;
}

/* css for contect in footer section */
.contect {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 320px;
    border-right: 2px solid white;
    height: 165px;

}

.email {
    text-transform: lowercase !important;
    font-size: 18px;
    letter-spacing: 0px;
    color: #18ccd1;
    font-weight: 800;
}



address {
    font-style: normal;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 800;

}

address:hover {
    color: #25a7ac86
}


/* css for social links in footer section  */

.social-link {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 520px;
    height: 165px;
    text-align: center;
}


.social-logo {
    padding: 10px;
}


.social-logo .fa {
    border-radius: 50%;
    border: 2px solid #f8f0f0;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 15px;
    font-size: 25px;
    color: #f0f4f4;
}

.social-logos {
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-logo:hover {
    position: relative;
    bottom: 12px;

}


/* css for copy rigt section */
.copy-right {
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 300;

}

.copy-right:hover {
    color: #95a5a6;
}


/* media queries rules for responsive   */


/*For tablet landscape */


@media only screen and (max-width: 1199px) {

    label {
        display: block;
        cursor: pointer;
    }

    .nav {
        text-align: center;
        width: 100%;
        display: none;
        margin-right: 0px;

    }

    .nav a {
        display: block;
        background-color: #142a38;
        margin: 0;
    }

    #toggle:checked+.nav {
        display: block;
    }

    .logo {
        margin-left: 0%;
    }

    .hero-heading {
        font-size: 32px;
    }


    .btn {
        width: 191px;
        height: 42px;
        font-size: 15px;
    }

    .header {
        height: 673px;

    }

    .header {
        height: 673px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .solution-head-line {
        height: auto;
    }

    .solution-info {
        width: 299px;
        height: 423px;
        transition: 0.2s;
    }

    .feature {
        height: 800px;
    }

    .feature-bullet-point-left li,
    .feature-bullet-point-right li {
        padding: 0px;
    }


    .feature-rocket {
        padding: 0px 0px;
    }


    h4 {
        font-size: 15px;
    }

    h2 {

        font-size: 20px;
    }


    .busines-headline {
        margin-top: 0px;
    }

    .animation-object {
        height: 278px;
    }

    .animation-img {
        width: 20%;
    }

    .business-package {
        flex-wrap: nowrap;
    }

    .business-section {
        height: auto;
    }

    .business-package-info {
        margin: auto 9px;
    }

    .client-section {
        height: auto;
    }

    .client-logo {
        width: 32.33%;
        flex-wrap: nowrap;
        padding: 22px 0px;
    }

    .learn-more {
        margin-top: 4px;
        margin-bottom: 7px;
    }

    .footer {
        height: 365px;
    }

}

/*For tablet Portrait */

@media only screen and (max-width: 979px) {

    .header {
        height: 500px;
    }

    a.nav-links {
        font-size: 16px;
    }

    .logo {
        display: block;
        padding: 10px;
        margin-left: 0%;
    }

    .hero-section {

        padding-bottom: 0px;
        max-width: 80%;
    }

    .hero-heading {
        font-size: 24px;
    }



    a.nav-links {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p.solution-more-info {
        font-size: 12px;
    }

    svg.bi {
        height: 42px;
        width: 40px;
    }

    .feature {
        height: 650px;
    }

    .feature-headline {
        margin-top: 100px;
    }

    svg.bi.bi-lock {
        height: 42px;
        width: 40px;
    }


    .footer {
        flex-wrap: wrap;
        height: 500px;
    }

    .contect {
        width: 270px;
    }


    .quick-links {
        text-align: center;
        width: 185px;
    }

    .footer-logo {
        height: 81%;
        width: 78%;
    }

    .social-logo {
        padding: 8px 15px 15px;
    }

    .social-logos {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .social-link .fa {
        font-size: 15px;

    }

}

/* For mobile landscape */

@media only screen and (max-width: 767px) {
    h2 {
        font-size: 14px;
    }

    .solution-list {
        flex-wrap: wrap !important;
    }

    p {
        font-size: 14px !important;
    }


    .hero-section {
        padding-top: 149px;
        padding-bottom: 0px;
        max-width: 80%;
    }

    .solution-info {
        width: 50%;
        height: 300px;
    }

    .animation-object {
        height: 210px;
    }


    .feature-headline {
        margin-top: 15px;
    }

    .feature-info {
        bottom: 55px;
    }

    .feature-rocket {
        padding: 48px 10px;
    }

    .feature {
        height: auto;
    }

    .feature-rocket {
        display: none;
    }

    .feature-info {

        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        bottom: 100px px;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }


    h4 {
        font-size: 12px;
    }

    li {
        list-style-type: disc;
    }

    ul {
        padding-inline-start: 30px
    }

    ul.feature-bullet-point-left {
        display: block;
        text-align: start;
        direction: ltr;
    }

    .client-logo {
        width: 32.33%;
    }

}

@media only screen and (max-width: 479px) {
    .hero-section {
        max-width: 80%;
    }

    .solution-info {
        width: 100%;
        height: 200px;
    }

    p {
        font-size: 14px !important;
    }


    .solution-info:hover .solution-detail {
        position: relative;
        bottom: 15px;
        color: #18ccd1;
        height: auto;
    }

    .solution-detail {
        max-width: 450px;
    }


    .feature {
        height: auto;
    }

    .feature-rocket {
        display: none;
    }


    .busines-headline {
        text-align: start;
        display: block;
        margin-left: 10px;
    }


    .animation-img {
        width: 30%;
    }

    .business-package {
        display: block;
        text-align: center;
        text-align: justify;
    }

    .business-info {
        max-width: 100%;
    }

    .client-logo {
        width: 48%;
    }


    .footer {
        display: flex;
        padding-top: 31px;
        text-align: center;
        justify-content: center;
        align-content: center;
        height: 620px;
    }

    .quick-links {
        display: flex;
        flex-direction: column;
        border: none;

        text-align: center;
        padding-left: 10px;
    }

    .contect {
        display: block;
        width: 60%;
        padding: 10px;
        border: none;
    }


    .social-logos {
        padding-top: 15px;
        padding-bottom: 0%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .social-link {
        padding-top: 48px;
    }


}